{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Redis Settings</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% if not error %}
      <div class="alert alert-success">
        <strong>Redis connection successful!</strong>
      </div>
      Redis URL: <pre>{{ config['CACHE_REDIS_URL']}}</pre>
      {% else %}
      <div class="alert alert-danger">
        <strong>Error:</strong> {{error}}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
