{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Redis Settings</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% if not error %}
      <div class="alert alert-success">
        <strong>Redis connection successful!</strong>
      </div>
      Redis URL: <pre>{{ config['CACHE_REDIS_URL']}}</pre>
      <table class="table" style="width: 100%">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        {% for key, value in redis_data.items() %}
        <tr>
          <td><code>{{key}}</code></td>
          <td><code>{{value}}</code></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="alert alert-danger">
        <strong>Error:</strong> {{error}}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
